$mobile: 400px;
$tablet: 769px;
$laptop: 1025px;
$laptopL: 1441px;
$laptopXL: 1921px;

.header {
  background-color: transparent;
  position: sticky;
  width: 70%;
  left: 15%;
  margin: auto;
  z-index: 3;

  @media screen and (max-width: $laptop) {
    background-color: #fff;
  }

  @media (max-width: 800px) {
    .menu {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      width: 100%;
      padding: 0;
      min-width: 800px;
    }
  }

  .mains {
    font-size: 30px;
    color: #171717;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    float: left;
    &__logo {
      color: #171717;
      cursor: pointer;
    }
    &__logo1 {
      color: #ff2e63;
      cursor: pointer;
      width: 100%;
    }
  }

  .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }

  & > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;

    @media screen and (max-width: $laptop) {
      width: 100%;
    }

    & > li {
      @media screen and (max-width: $laptop) {
        float: left;
        width: 100%;
      }
      & > a {
        display: block;
        padding: 20px 10px;
        color: #444;
        text-decoration: none;
        font-size: 18px;
        text-align: center;

        &:hover {
          color: #171717;
          transition-duration: 0.6s;
          text-decoration: underline;
        }
      }
    }
  }

  .menu {
    clear: none;
    float: right;
    max-height: none;

    @media screen and (max-width: $laptop) {
      clear: both;
      max-height: 0;
      transition: max-height 0.2s ease-out;
    }
  }

  .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;

    @media screen and (min-width: $laptop) {
      display: none;
    }
    .navicon {
      background: #333;
      display: block;
      height: 2px;
      position: relative;
      transition: background 0.2s ease-out;
      width: 18px;
    }
  }
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
