* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

.bold {
  font-weight: bold !important;
}

body {
  font-family: "Rajdhani", sans-serif;
  margin: 0;
}

p {
  margin: 0;
}

.container {
  margin: auto;
  width: 80%;
}

.h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mains {
  font-size: 30px;
  color: #171717;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mains__logo {
  color: #171717;
  cursor: pointer;
}

.mains__logo1 {
  color: #ff2e63;
  cursor: pointer;
  width: 100%;
}

.logo3 {
  color: #ff2e63;
}

.logo4 {
  color: white;
}

.logo4:hover {
  color: #ff2e63;
  -webkit-transition: 0, 5s;
  transition: 0, 5s;
}

.login {
  cursor: pointer;
  font-size: large;
  color: #ff2e63;
  border-radius: 5px;
  background-color: #f4f4f4;
  height: 40px;
  width: 110px;
  padding-top: 10px;
}

.login:hover {
  text-decoration: underline;
  color: #ff2e63;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.list_link {
  padding: 5px 10px;
  color: black;
}

.list_link:hover {
  color: #171717;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  text-decoration: underline;
}

.register {
  cursor: pointer;
  font-size: large;
  border-radius: 5px;
  background-color: #ff2e63;
  height: 40px;
  width: 110px;
  text-align: center;
  padding-top: 10px;
}

.register:hover {
  background: #f8f3ef;
  color: #635155;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.container {
  margin: auto;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 60%;
}

@media screen and (max-width: 1025px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 75%;
  }
}

.list {
  list-style: none;
  font-size: large;
}

.h2 {
  margin: 0;
  font-size: 50px;
  font-weight: 700;
  color: #171717;
}

.h22 {
  margin: 0;
  font-size: 45px;
  color: #ff2e63;
}

.main {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: calc(70vh - 12rem);
}

.car {
  margin-right: 20%;
  padding-top: 150px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  z-index: -1;
  right: 0;
}

.car__adapt {
  width: 100%;
}

@media screen and (max-width: 1025px) {
  .car {
    width: 40%;
  }
}

@media screen and (max-width: 400px) {
  .car {
    width: 50%;
  }
}

@media screen and (max-width: 1441px) {
  .car {
    width: 50%;
  }
}

.ellipse {
  margin-right: 25%;
  padding-top: 100px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  z-index: -2;
  right: 0;
}

@media screen and (max-width: 1025px) {
  .ellipse {
    margin: 0;
    width: 100%;
    text-align: center;
  }
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
}

.button {
  text-align: center;
  cursor: pointer;
  font-weight: bolder;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  background-color: #346cd9;
  height: 50px;
  width: 160px;
}

.button:hover {
  background: #ff2e63;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 60%;
  margin: 60px auto;
}

@media screen and (max-width: 1025px) {
  .block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 70%;
  }
}

@media screen and (max-width: 769px) {
  .block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 60%;
  }
}

.block1 {
  border-radius: 14px;
  width: 23%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media screen and (max-width: 1025px) {
  .block1 {
    width: 45%;
    margin: 10px;
  }
}

@media screen and (max-width: 400px) {
  .block1 {
    width: 100%;
  }
}

.block1__available {
  font-size: 20px;
  font-weight: 400;
  color: #343434;
}

.block1:hover {
  background: #e5e5e5;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.block_text {
  margin: 0;
  text-align: left;
  font-size: 24px;
  width: auto;
}

.block_text_fix {
  color: #171717 !important;
}

.price {
  margin: 0 7px 0 0;
  color: #ff2e63;
  font-size: 40px;
}

.price_fix {
  color: #171717;
}

.old_price {
  font-weight: lighter;
  font-size: 25px;
  text-decoration: line-through;
  color: #999999;
}

.block_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin: 10px 0;
}

.info {
  padding: 20px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block_img {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  -o-object-fit: cover;
     object-fit: cover;
}

.title {
  font-size: 15px;
  color: #171717;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.title1 {
  font-size: 35px;
  color: #171717;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
  margin: auto;
}

.link_page {
  color: #ff2e63 !important;
  font-size: 25px;
  font-weight: 600;
}

.display {
  color: #999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: -15px;
}

.arrow {
  cursor: pointer;
  border: none;
  color: #ffffff;
  background: #346cd9;
  height: 61px;
  width: 50px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-right: -20px;
  margin-bottom: -10px;
}

.arrow:hover {
  background: #ff2e63;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.title2 {
  font-size: x-large;
  text-align: center;
}

.block2 {
  max-width: 60%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 70px;
}

@media screen and (max-width: 1025px) {
  .block2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.block2_text {
  margin: auto;
  text-align: center;
  padding: 20px;
}

.block2__arrow {
  margin-top: 25px;
}

@media screen and (max-width: 1025px) {
  .block2__arrow {
    display: none;
  }
}

.block2__arrow_down {
  margin-top: 25px;
  display: none;
}

@media screen and (max-width: 1025px) {
  .block2__arrow_down {
    display: block;
  }
}

.block2__image {
  width: 64px;
  height: 64px;
  margin: auto;
}

.tutorial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.block4 {
  margin: auto;
  margin-bottom: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, left bottom, left top, from(#d3dfff), to(white));
  background: linear-gradient(0deg, #d3dfff 0%, white 100%);
  width: 60%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1025px) {
  .block4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 60%;
  }
}

@media screen and (max-width: 1441px) {
  .block4 {
    max-width: 60%;
  }
}

.block4__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: larger;
  font-style: italic;
}

@media screen and (max-width: 1025px) {
  .block4__wrap {
    width: 100%;
  }
}

.block4__wrap-text {
  width: 100%;
}

.block4__wrap-image {
  margin-bottom: -6px;
}

@media screen and (max-width: 1441px) {
  .block4__wrap-image > img {
    max-width: 100%;
  }
}

.block5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  width: 60%;
  margin: 40px auto;
}

@media screen and (max-width: 1025px) {
  .block5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.block5_header {
  margin-bottom: 40px;
  max-width: 80%;
  margin-left: auto;
  font-size: 45px;
}

.dates {
  font-size: 20px;
  font-weight: 400;
  color: #343434;
}

.footer {
  width: 100%;
  margin: auto;
  font-weight: 600;
  background-color: #346cd9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media screen and (max-width: 1025px) {
  .footer_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer_wrap {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1025px) {
  .footer_wrap {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.list_link_footer {
  color: #ffffff !important;
  padding-left: 20px;
  font-size: 20px;
  font-weight: normal;
}

.list_link_footer:hover {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.footer_menu_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.logo_foot {
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */